.navbar-default {
    background-color: #ffffff;
    border-color: #e2e2e2;

    .navbar-brand {
		font-family: 'Fira Sans', sans-serif;
		color: #424242;
	    font-weight: 600;
	    font-size: 23px;
	    letter-spacing: 1px;
	}
	
}

.blue{
	color: #408cff;
}