.navbar-default {
    background-color: #ffffff;
    border-color: #e2e2e2;
    margin-bottom: 0px;
    .navbar-brand {
		font-family: 'Chivo', sans-serif;
		color: #424242;
	    font-weight: 600;
	    font-size: 23px;
	}

}

.blue{
	color: #408cff;
}
