.navbar-default {
    background-color: black;
    border-bottom: 2px solid #408cff;
    margin-bottom: 0px;
    font-family: 'Chivo', sans-serif;
    a{
      color: white !important;
    }

    .navbar-brand {
		font-family: 'Chivo', sans-serif;
		color: white;
	    font-weight: 600;
	    font-size: 23px;
	}

}

.blue{
	color: #408cff;
}
